/* lai.html 전용 스타일 */

.picture-container {
    columns: 3;
    column-gap: 30px;
    max-width: 1000px;
    margin: 10px auto;
}

#lai {
    border: 8px solid #C8B8DE;
}

.picture-item {
    break-inside: avoid;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    /* 모서리를 둥글게 */
    overflow: hidden;
    /* 모서리 밖으로 튀어나온 이미지 숨기기 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 */
    transition: transform 0.2s;
    /* 부드러운 애니메이션 효과 */
}

.picture-item img {
    width: 100%;
    height: auto;
    display: block;
}

.picture-item:hover {
    transform: scale(1.05);
}



/* 모바일 반응형 스타일 */
@media screen and (max-width: 768px) {
    .picture-container {
        columns: 2;
        column-gap: 15px;
        max-width: 100%;
        margin: 10px 15px;
    }

    .picture-item {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {
    .picture-container {
        columns: 1;
        column-gap: 10px;
        margin: 10px 10px;
    }

    .picture-item {
        margin-bottom: 10px;
    }
}