/* whoami.html 전용 스타일 */

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px;
    gap: 40px;
}

.profile-left {
    display: flex;
    align-items: center;
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #FEF889;
    transition: all 0.3s ease-in-out;
}
.profile-image:hover{
    transform: translateY(-8px) scale(1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.name{
    margin: 5px 0;
    padding: 0;

}

.title{
    margin: 5px 0;
    padding: 0;

}

.description{
    margin: 5px 0;
    padding: 0;
}

.what-i-use{
    text-align: center;
    margin: 0;
    padding: 0;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.skills-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.skill-set{
    transition: all 0.3s ease-in-out;
}

.skill-set:hover{
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* 푸터 스타일 */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}
#copyright{
    color: white;
    margin: 0;
    font-size: 12px;
}
