*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 모든 링크 밑줄/색깔 없애기*/
a{
    text-decoration-line: none;
    color: inherit;
    width: fit-content;
    height: fit-content;
}

/* header 맞추기 */
header{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 45px;
}

.logo-img{
    width: 55px;
    height: auto;
}

.header-nav{
    display: flex;
    gap: 30px;
}

#main-button{
    font-size: 35px;
    font-weight: bolder;
}

.nav-button{
    font-size: 25px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

.nav-button:hover{
    font-weight: 600;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;     
    color: white;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.picture-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.picture-item {
    border: 1px solid #ddd; /* 얇은 테두리 */
    border-radius: 8px; /* 모서리를 둥글게 */
    overflow: hidden; /* 모서리 밖으로 튀어나온 이미지 숨기기 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* 그림자 효과 */
    transition: transform 0.2s; /* 부드러운 애니메이션 효과 */
}

.picture-item img{
    width: 100%;
    height: auto;
    display: block;
}

.picture-item:hover{
    transform: scale(1.05);
}