/* whoami.html 전용 스타일 */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 모든 링크 밑줄/색깔 없애기*/
a{
    text-decoration-line: none;
    color: inherit;
    width: fit-content;
    height: fit-content;
}

/* header 맞추기 */
header{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 45px;
}

.logo-img{
    width: 55px;
    height: auto;
}

.header-nav{
    display: flex;
    gap: 30px;
}

#main-button{
    font-size: 35px;
    font-weight: bolder;
}

.nav-button{
    font-size: 25px;
    font-weight: 500;

}

/* body 기본 설정 */
body {
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: white;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px;
    gap: 40px;
}

.profile-left {
    display: flex;
    align-items: center;
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #FEF889;
}

/* 푸터 스타일 */
#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

#copyright{
    color: white;
    margin: 0;
    font-size: 12px;
}
