/* whoami.html 전용 스타일 */
*{
    font-family: 'Inter', sans-serif;
}
/* 모든 링크 밑줄/색깔 없애기*/
a{
    text-decoration-line: none;
    color: inherit;
    width: fit-content;
    height: fit-content;
}

/* header 맞추기 */
header{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 40px;
}

.header-nav{
    display: flex;
    gap: 30px;
}

#main-button{
    font-size: 35px;
    font-weight: bolder;
}

.nav-button{
    font-size: 25px;
    font-weight: 500;

}

/* body 기본 설정 */
body {
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: white;
    font-family: Arial, sans-serif;
}

/* 푸터 스타일 */
#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

#copyright{
    color: white;
    margin: 0;
    font-size: 12px;
}
